<script>
  document.addEventListener('DOMContentLoaded', function() {
  var preferredLanguage = localStorage.getItem('preferredLanguage');
  if (!preferredLanguage) {
    preferredLanguage = 'korean';
  }
  var englishText = document.querySelectorAll('.english');
  var koreanText = document.querySelectorAll('.korean');

  if (preferredLanguage === 'korean') {
    englishText.forEach(el => el.style.display = 'none');
    koreanText.forEach(el => el.style.display = 'block');
  } else {
    englishText.forEach(el => el.style.display = 'block');
    koreanText.forEach(el => el.style.display = 'none');
  }
});

window.addEventListener('storage', function(event) {
  if (event.key === 'preferredLanguage') {
    var preferredLanguage = event.newValue;
    var englishText = document.querySelectorAll('.english');
    var koreanText = document.querySelectorAll('.korean');

    if (preferredLanguage === 'korean') {
      englishText.forEach(el => el.style.display = 'none');
      koreanText.forEach(el => el.style.display = 'block');
    } else {
      englishText.forEach(el => el.style.display = 'block');
      koreanText.forEach(el => el.style.display = 'none');
    }
  }
});
</script>

<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Join Us!</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- Single Button linking to Application Form -->
        <a href="https://forms.gle/22y35iaTxLDFt9TM9" target="_blank" class="btn btn-primary btn-lg mt-4">
          Link to Application Form
        </a>
      </div>
    </div>
    <p class="korean text-center" style="margin-top:40px;">지원기간: ~ 9/5 (목) 11:59PM CST</p>
      <p class="english text-center" style="margin-top:40px;">Application Period: ~ 9/5 (Th) 11:59PM CST</p>
    
  </div>
</section>
