<!-- Team Section -->
<section class="team" id="team">
    <div class="container">
      <!-- Section Title -->
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Meet Our Team Leaders</h2>
          <br>
        </div>
      </div>
      
      <!-- Large Image Section -->
      <div class="row text-center">
        <div class="col-lg-12">
          <div class="team-member">
            <img src="img/yeonj.jpg" class="img-responsive img-circle center" alt="President" style="width: 200px; height: auto; margin:auto">
            <h4>Jehyeok Yeon</h4>
            <p class="text-muted">President</p>
          </div>
        </div>
      </div>
      
      <!-- Small Images Section -->
      <div class="row text-center">
        <!-- Team Member 1 -->
        <div class="col-lg-4">
          <div class="team-member">
            <img src="img/Kang.png" class="img-responsive img-circle" alt="Vice President & Python Learning Team Lead", style="width: 200px; height: auto; margin:auto">
            <h4>Kang Hangoo</h4>
            <p class="text-muted">Vice President & Python Learning Team Lead</p>
          </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-lg-4">
          <div class="team-member">
            <img src="img/max.jpg" class="img-responsive img-circle" alt="Python Project Team Co-Lead", style="width: 200px; height: 200px; margin:auto">
            <h4>Min Hoyoung</h4>
            <p class="text-muted">Python Project Team Co-Lead</p>
          </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-lg-4">
          <div class="team-member">
            <img src="img\leed.png" class="img-responsive img-circle" alt="Algorithm & Interview Preparation Team Lead", style="width: 200px; height: auto; margin:auto">
            <h4>Lee Hyunho</h4>
            <p class="text-muted">Algorithm & Interview Preparation Team Lead</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  